/* Default aspect ratio settings */
#menu-posts-seoslides-slideset .menu-icon-post div.wp-menu-image,
#toplevel_page_seoslides-slideset .menu-icon-generic div.wp-menu-image {
  background-image: url(../img/presentation-cpt-icon-16.png);
  background-repeat: no-repeat;
  background-position: 6px 6px; }
  @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #menu-posts-seoslides-slideset .menu-icon-post div.wp-menu-image,
    #toplevel_page_seoslides-slideset .menu-icon-generic div.wp-menu-image {
      background-image: url(../img/presentation-cpt-icon-32.png);
      background-size: 16px auto; } }

body.flaticons #menu-posts-seoslides-slideset .menu-icon-post div.wp-menu-image,
body.flaticons #toplevel_page_seoslides-slideset .menu-icon-generic div.wp-menu-image {
  background: none; }
  body.flaticons #menu-posts-seoslides-slideset .menu-icon-post div.wp-menu-image:before,
  body.flaticons #toplevel_page_seoslides-slideset .menu-icon-generic div.wp-menu-image:before {
    content: '\f181'; }
body.flaticons .tb-close-icon {
  background: none; }

.admin-color-classic #menu-posts-seoslides-slideset .menu-icon-post div.wp-menu-image,
.admin-color-classic #toplevel_page_seoslides-slideset .menu-icon-generic div.wp-menu-image {
  background-position: 6px 6px; }

#menu-posts-seoslides-slideset:hover .menu-icon-post div.wp-menu-image,
#menu-posts-seoslides-slideset.wp-has-current-submenu .menu-icon-post div.wp-menu-image,
#toplevel_page_seoslides-slideset:hover .menu-icon-generic div.wp-menu-image,
#toplevel_page_seoslides-slideset.wp-has-current-submenu .menu-icon-generic div.wp-menu-image {
  background-position: 6px 6px; }

#icon-edit.icon32-posts-seoslides-slideset,
#icon-seoslides-slideset.icon32 {
  background-image: url(../img/presentation-cpt-icon-32.png);
  background-repeat: no-repeat;
  background-position: 0 0; }
  @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #icon-edit.icon32-posts-seoslides-slideset,
    #icon-seoslides-slideset.icon32 {
      background-image: url(../img/presentation-cpt-icon-64.png);
      background-size: 32px auto; } }

.admin-color-fresh #icon-edit.icon32-posts-seoslides-slideset,
.admin-color-fresh #icon-seoslides-slideset.icon32 {
  background-position: 0 0; }

.admin-color-classic #icon-edit.icon32-posts-seoslides-slideset,
.admin-color-classic #icon-seoslides-slideset.icon32 {
  background-position: 0 0; }

#poststuff h2.overview-label {
  font-size: 2em;
  margin-bottom: 0; }

.seoslides-modal .cke_toolgroup {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  background-image: none; }
.seoslides-modal a.cke_button_off:hover,
.seoslides-modal a.cke_button_off:focus,
.seoslides-modal a.cke_button_off:active,
.seoslides-modal a.cke_button_disabled:hover,
.seoslides-modal a.cke_button_disabled:focus,
.seoslides-modal a.cke_button_disabled:active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4) inset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#bbbbbb));
  background-image: -moz-linear-gradient(top, white, #bbbbbb);
  background-image: -webkit-linear-gradient(top, white, #bbbbbb);
  background-image: -o-linear-gradient(top, white, #bbbbbb);
  background-image: -ms-linear-gradient(top, white, #bbbbbb);
  background-image: linear-gradient(top, white, #bbbbbb);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ffffffff',endColorstr='#ffbbbbbb'); }
.seoslides-modal .cke_toolbar_separator {
  display: none; }
.seoslides-modal a.cke_button {
  padding: 2px;
  height: 20px; }
.seoslides-modal .cke_button_icon {
  height: 20px;
  width: 20px; }
.seoslides-modal .cke_button__bold_icon,
.seoslides-modal .cke_button__italic_icon,
.seoslides-modal .cke_button__underline_icon,
.seoslides-modal .cke_button__strike_icon,
.seoslides-modal .cke_ltr .cke_button__numberedlist_icon,
.seoslides-modal .cke_ltr .cke_button__bulletedlist_icon,
.seoslides-modal .cke_button__blockquote_icon,
.seoslides-modal .cke_button__justifyleft_icon,
.seoslides-modal .cke_button__justifycenter_icon,
.seoslides-modal .cke_button__justifyright_icon,
.seoslides-modal .cke_button__link_icon,
.seoslides-modal .cke_button__unlink_icon,
.seoslides-modal .cke_ltr .cke_button__pastetext_icon,
.seoslides-modal .cke_ltr .cke_button__pastefromword_icon,
.seoslides-modal .cke_button__removeformat_icon,
.seoslides-modal .cke_ltr .cke_button__outdent_icon,
.seoslides-modal .cke_ltr .cke_button__indent_icon,
.seoslides-modal .cke_ltr .cke_button__undo_icon,
.seoslides-modal .cke_ltr .cke_button__redo_icon {
  background-image: url(../img/wpicons.png) !important; }
  @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .seoslides-modal .cke_button__bold_icon,
    .seoslides-modal .cke_button__italic_icon,
    .seoslides-modal .cke_button__underline_icon,
    .seoslides-modal .cke_button__strike_icon,
    .seoslides-modal .cke_ltr .cke_button__numberedlist_icon,
    .seoslides-modal .cke_ltr .cke_button__bulletedlist_icon,
    .seoslides-modal .cke_button__blockquote_icon,
    .seoslides-modal .cke_button__justifyleft_icon,
    .seoslides-modal .cke_button__justifycenter_icon,
    .seoslides-modal .cke_button__justifyright_icon,
    .seoslides-modal .cke_button__link_icon,
    .seoslides-modal .cke_button__unlink_icon,
    .seoslides-modal .cke_ltr .cke_button__pastetext_icon,
    .seoslides-modal .cke_ltr .cke_button__pastefromword_icon,
    .seoslides-modal .cke_button__removeformat_icon,
    .seoslides-modal .cke_ltr .cke_button__outdent_icon,
    .seoslides-modal .cke_ltr .cke_button__indent_icon,
    .seoslides-modal .cke_ltr .cke_button__undo_icon,
    .seoslides-modal .cke_ltr .cke_button__redo_icon {
      background-image: url(../img/wpicons-2x.png);
      background-size: 560px 40px; } }
.seoslides-modal .cke_button__bold_icon {
  background-position: 0 -20px !important; }
.seoslides-modal .cke_button_on .cke_button__bold_icon,
.seoslides-modal .cke_button__bold_icon:hover {
  background-position: 0 0 !important; }
.seoslides-modal .cke_button__italic_icon {
  background-position: -20px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__italic_icon,
.seoslides-modal .cke_button__italic_icon:hover {
  background-position: -20px 0 !important; }
.seoslides-modal .cke_button__underline_icon {
  background-position: -280px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__underline_icon,
.seoslides-modal .cke_button__underline_icon:hover {
  background-position: -280px 0 !important; }
.seoslides-modal .cke_button__strike_icon {
  background-position: -540px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__strike_icon,
.seoslides-modal .cke_button__strike_icon:hover {
  background-position: -540px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__numberedlist_icon {
  background-position: -60px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__numberedlist_icon,
.seoslides-modal .cke_ltr .cke_button__numberedlist_icon:hover {
  background-position: -60px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__bulletedlist_icon {
  background-position: -40px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__bulletedlist_icon,
.seoslides-modal .cke_ltr .cke_button__bulletedlist_icon:hover {
  background-position: -40px 0 !important; }
.seoslides-modal .cke_button__blockquote_icon {
  background-position: -80px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__blockquote_icon,
.seoslides-modal .cke_button__blockquote_icon:hover {
  background-position: -80px 0 !important; }
.seoslides-modal .cke_button__justifyleft_icon {
  background-position: -100px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__justifyleft_icon,
.seoslides-modal .cke_button__justifyleft_icon:hover {
  background-position: -100px 0 !important; }
.seoslides-modal .cke_button__justifycenter_icon {
  background-position: -120px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__justifycenter_icon,
.seoslides-modal .cke_button__justifycenter_icon:hover {
  background-position: -120px 0 !important; }
.seoslides-modal .cke_button__justifyright_icon {
  background-position: -140px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__justifyright_icon,
.seoslides-modal .cke_button__justifyright_icon:hover {
  background-position: -140px 0 !important; }
.seoslides-modal .cke_button__link_icon {
  background-position: -160px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__link_icon,
.seoslides-modal .cke_button__link_icon:hover {
  background-position: -160px 0 !important; }
.seoslides-modal .cke_button__unlink_icon {
  background-position: -180px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__unlink_icon,
.seoslides-modal .cke_button__unlink_icon:hover {
  background-position: -180px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__pastetext_icon {
  background-position: -340px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__pastetext_icon,
.seoslides-modal .cke_ltr .cke_button__pastetext_icon:hover {
  background-position: -340px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__pastefromword_icon {
  background-position: -360px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__pastefromword_icon,
.seoslides-modal .cke_ltr .cke_button__pastefromword_icon:hover {
  background-position: -360px 0 !important; }
.seoslides-modal .cke_button__removeformat_icon {
  background-position: -380px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__removeformat_icon,
.seoslides-modal .cke_button__removeformat_icon:hover {
  background-position: -380px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__outdent_icon {
  background-position: -440px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__outdent_icon,
.seoslides-modal .cke_ltr .cke_button__outdent_icon:hover {
  background-position: -440px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__indent_icon {
  background-position: -460px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__indent_icon,
.seoslides-modal .cke_ltr .cke_button__indent_icon:hover {
  background-position: -460px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__undo_icon {
  background-position: -500px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__undo_icon,
.seoslides-modal .cke_ltr .cke_button__undo_icon:hover {
  background-position: -500px 0 !important; }
.seoslides-modal .cke_ltr .cke_button__redo_icon {
  background-position: -480px -20px !important; }
.seoslides-modal .cke_button_on .cke_button__redo_icon,
.seoslides-modal .cke_ltr .cke_button__redo_icon:hover {
  background-position: -480px 0 !important; }

.seoslides-modal-transitions {
  display: none; }

.seoslides-overview .seoslides-modal-bginfo {
  margin-top: 20px; }
.seoslides-overview .seoslides-modal-seo,
.seoslides-overview .youtube-vimeo {
  display: none; }
.seoslides-overview .seoslides-modal-transitions {
  display: block; }

#poststuff .linkhint {
  color: #aaa;
  margin: 15px 0 -24px 12px;
  visibility: hidden; }

#seoslides_link {
  width: 100%; }

div.seoslides_link_clear {
  line-height: 25px;
  vertical-align: middle;
  text-align: left;
  float: left; }
  div.seoslides_link_clear a {
    color: #f00;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f00;
    text-decoration: none; }
    div.seoslides_link_clear a:hover {
      color: #fff;
      background-color: #f00; }

input.seoslides_link {
  float: right; }

#api_key_indicator {
  display: inline-block;
  color: green;
  font-family: 'dashicons';
  font-size: 26px;
  vertical-align: top;
  height: 16px;
  width: 16px;
  margin-top: 2px; }
  #api_key_indicator.valid:before {
    content: '\f147'; }
  #api_key_indicator.unset:before {
    color: red;
    content: '\f158'; }
