/* Default aspect ratio settings */
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body.deck-container {
  overflow-y: auto;
  position: static; }

.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 48px;
  font-size: 16px;
  line-height: 1.25;
  overflow: hidden;
  /* Resets and base styles from HTML5 Boilerplate */
  /* End HTML5 Boilerplate adaptations */ }
  .js .deck-container {
    visibility: hidden; }
  .ready .deck-container {
    visibility: visible; }
  .touch .deck-container {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none; }
  .deck-container div, .deck-container span, .deck-container object, .deck-container iframe,
  .deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6, .deck-container p, .deck-container blockquote, .deck-container pre,
  .deck-container abbr, .deck-container address, .deck-container cite, .deck-container code, .deck-container del, .deck-container dfn, .deck-container em, .deck-container img, .deck-container ins, .deck-container kbd, .deck-container q, .deck-container samp,
  .deck-container small, .deck-container strong, .deck-container sub, .deck-container sup, .deck-container var, .deck-container b, .deck-container i, .deck-container dl, .deck-container dt, .deck-container dd, .deck-container ol, .deck-container ul, .deck-container li,
  .deck-container fieldset, .deck-container form, .deck-container label, .deck-container legend,
  .deck-container table, .deck-container caption, .deck-container tbody, .deck-container tfoot, .deck-container thead, .deck-container tr, .deck-container th, .deck-container td,
  .deck-container article, .deck-container aside, .deck-container canvas, .deck-container details, .deck-container figcaption, .deck-container figure,
  .deck-container footer, .deck-container header, .deck-container hgroup, .deck-container menu, .deck-container nav, .deck-container section, .deck-container summary,
  .deck-container time, .deck-container mark, .deck-container audio, .deck-container video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .deck-container article, .deck-container aside, .deck-container details, .deck-container figcaption, .deck-container figure,
  .deck-container footer, .deck-container header, .deck-container hgroup, .deck-container menu, .deck-container nav, .deck-container section {
    display: block; }
  .deck-container blockquote, .deck-container q {
    quotes: none; }
    .deck-container blockquote:before, .deck-container blockquote:after, .deck-container q:before, .deck-container q:after {
      content: "";
      content: none; }
  .deck-container ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none; }
  .deck-container mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold; }
  .deck-container del {
    text-decoration: line-through; }
  .deck-container abbr[title], .deck-container dfn[title] {
    border-bottom: 1px dotted;
    cursor: help; }
  .deck-container table {
    border-collapse: collapse;
    border-spacing: 0; }
  .deck-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  .deck-container input, .deck-container select {
    vertical-align: middle; }
  .deck-container select, .deck-container input, .deck-container textarea, .deck-container button {
    font: 99% sans-serif; }
  .deck-container pre, .deck-container code, .deck-container kbd, .deck-container samp {
    font-family: monospace, sans-serif; }
  .deck-container a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    .deck-container a:hover, .deck-container a:active {
      outline: none; }
  .deck-container ul, .deck-container ol {
    margin-left: 2em;
    vertical-align: top; }
  .deck-container ol {
    list-style-type: decimal; }
  .deck-container nav ul, .deck-container nav li {
    margin: 0;
    list-style: none;
    list-style-image: none; }
  .deck-container small {
    font-size: 85%; }
  .deck-container strong, .deck-container th {
    font-weight: bold; }
  .deck-container td {
    vertical-align: top; }
  .deck-container sub, .deck-container sup {
    font-size: 75%;
    line-height: 0;
    position: relative; }
  .deck-container sup {
    top: -0.5em; }
  .deck-container sub {
    bottom: -0.25em; }
  .deck-container textarea {
    overflow: auto; }
  .ie6 .deck-container legend, .ie7 .deck-container legend {
    margin-left: -7px; }
  .deck-container input[type="radio"] {
    vertical-align: text-bottom; }
  .deck-container input[type="checkbox"] {
    vertical-align: bottom; }
  .ie7 .deck-container input[type="checkbox"] {
    vertical-align: baseline; }
  .ie6 .deck-container input {
    vertical-align: text-bottom; }
  .deck-container label, .deck-container input[type="button"], .deck-container input[type="submit"], .deck-container input[type="image"], .deck-container button {
    cursor: pointer; }
  .deck-container button, .deck-container input, .deck-container select, .deck-container textarea {
    margin: 0; }
  .deck-container input:invalid, .deck-container textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red; }
    .deck-container input:invalid .no-boxshadow, .deck-container textarea:invalid .no-boxshadow {
      background-color: #f0dddd; }
  .deck-container button {
    width: auto;
    overflow: visible; }
  .ie7 .deck-container img {
    -ms-interpolation-mode: bicubic; }
  .deck-container, .deck-container select, .deck-container input, .deck-container textarea {
    color: #444; }
  .deck-container a {
    color: #607890; }
    .deck-container a:hover, .deck-container a:focus {
      color: #036; }
    .deck-container a:link {
      -webkit-tap-highlight-color: #fff; }
  .deck-container.deck-loading {
    display: none; }

.slide {
  width: auto;
  min-height: 100%;
  position: relative; }
  .slide h1 {
    font-size: 2.4em;
    padding-bottom: 1em; }
  .slide h1, .slide .vcenter {
    font-weight: bold;
    padding-top: 1em;
    max-height: 100%; }
  .slide .vcenter h1 {
    position: relative;
    top: auto;
    padding: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .slide h2 {
    font-size: 2.25em;
    font-weight: bold;
    padding-top: .5em;
    margin: 0 0 .66666em 0;
    border-bottom: 3px solid #888; }
  .slide h3 {
    font-size: 1.4375em;
    font-weight: bold;
    margin-bottom: .30435em; }
  .slide h4 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: .25em; }
  .slide h5 {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: .2222em; }
  .slide h6 {
    font-size: 1em;
    font-weight: bold; }
  .slide img, .slide iframe, .slide video {
    display: block;
    max-width: 100%; }
  .slide video, .slide iframe, .slide img {
    display: block;
    margin: 0 auto; }
  .slide p, .slide blockquote, .slide iframe, .slide img, .slide ul, .slide ol, .slide pre, .slide video {
    margin-bottom: 1em; }
  .slide pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1em;
    border: 1px solid #888; }
  .slide em {
    font-style: italic; }
  .slide li {
    padding: .25em 0;
    vertical-align: middle; }

.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em; }

.deck-current {
  z-index: 2; }

.slide .slide {
  visibility: hidden;
  position: static;
  min-height: 0; }

.deck-child-current {
  position: static;
  z-index: 2; }
  .deck-child-current .slide {
    visibility: hidden; }
  .deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
    visibility: visible; }

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    -webkit-box-reflect: none !important;
    -moz-box-reflect: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
    * :before, * :after {
      display: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  .slide {
    position: static !important;
    visibility: visible !important;
    display: block !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important; }

  h1, .vcenter {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    padding: 0 !important;
    position: static !important; }

  .deck-container > .slide {
    page-break-after: always; }

  .deck-container {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
    display: block !important; }

  script {
    display: none; } }
.deck-container .goto-form {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 50%;
  height: 1.75em;
  margin: 0 0 0 -9.125em;
  line-height: 1.75em;
  padding: 0.625em;
  display: none;
  background: #ccc;
  overflow: hidden; }
  .borderradius .deck-container .goto-form {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  .deck-container .goto-form label {
    font-weight: bold; }
  .deck-container .goto-form label, .deck-container .goto-form input {
    display: inline-block;
    font-family: inherit; }

.deck-goto .goto-form {
  display: block; }

#goto-slide {
  width: 8.375em;
  margin: 0 0.625em;
  height: 1.4375em; }

@media print {
  .goto-form, #goto-slide {
    display: none !important; } }
.deck-menu .slide {
  background: #eee;
  position: relative;
  left: 0;
  top: 0;
  visibility: visible;
  cursor: pointer; }
.no-csstransforms .deck-menu > .slide {
  float: left;
  width: 22%;
  height: 22%;
  min-height: 0;
  margin: 1%;
  font-size: 0.22em;
  overflow: hidden;
  padding: 0 0.5%; }
.csstransforms .deck-menu > .slide {
  -webkit-transform: scale(0.22) !important;
  -moz-transform: scale(0.22) !important;
  -o-transform: scale(0.22) !important;
  -ms-transform: scale(0.22) !important;
  transform: scale(0.22) !important;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 48px;
  margin: 12px; }
.deck-menu iframe, .deck-menu img, .deck-menu video {
  max-width: 100%; }
.deck-menu .deck-current, .no-touch .deck-menu .slide:hover {
  background: #ddf; }
.deck-menu.deck-container:hover .deck-prev-link, .deck-menu.deck-container:hover .deck-next-link {
  display: none; }

.deck-container .deck-prev-link, .deck-container .deck-next-link {
  display: none;
  position: absolute;
  z-index: 3;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  line-height: 38px;
  top: 50%;
  margin-top: -20px;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out 0ms;
  -moz-transition: opacity 0.4s ease-in-out 0ms;
  -o-transition: opacity 0.4s ease-in-out 0ms;
  transition: opacity 0.4s ease-in-out 0ms;
  -webkit-transition: background-color 0.2s ease-in-out 0ms;
  -moz-transition: background-color 0.2s ease-in-out 0ms;
  -o-transition: background-color 0.2s ease-in-out 0ms;
  transition: background-color 0.2s ease-in-out 0ms; }
  .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
    color: #fff; }
.deck-container .deck-nav-disabled {
  display: none; }
.deck-container .deck-prev-link {
  left: 20px; }
.deck-container .deck-next-link {
  right: 20px; }
.deck-container .extras:hover .deck-prev-link,
.deck-container .extras:hover .deck-next-link, .deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link {
  display: block;
  background: #f15b3c;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out 0ms;
  -moz-transition: opacity 0.4s ease-in-out 0ms;
  -o-transition: opacity 0.4s ease-in-out 0ms;
  transition: opacity 0.4s ease-in-out 0ms;
  -webkit-transition: background-color 0.2s ease-in-out 0ms;
  -moz-transition: background-color 0.2s ease-in-out 0ms;
  -o-transition: background-color 0.2s ease-in-out 0ms;
  transition: background-color 0.2s ease-in-out 0ms; }
  .deck-container .extras:hover .deck-prev-link.deck-nav-disabled, .touch .deck-container .extras:hover .deck-prev-link,
  .deck-container .extras:hover .deck-next-link.deck-nav-disabled, .touch
  .deck-container .extras:hover .deck-next-link, .deck-container:hover .deck-prev-link.deck-nav-disabled, .touch .deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link.deck-nav-disabled, .touch .deck-container:hover .deck-next-link {
    display: none; }

@media print {
  .deck-prev-link, .deck-next-link {
    display: none !important; } }
.deck-footer .deck-status {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #888;
  z-index: 15;
  margin: 0; }

body.deck-container .deck-status {
  position: fixed; }

@media print {
  .deck-status {
    display: none; } }
.deck-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 1.75em;
  color: #aaa;
  background: #000; }
  .deck-container .slide {
    background: #000; }
    .deck-container .slide h1 {
      color: #0af;
      font-weight: normal;
      font-weight: 100;
      text-shadow: 0 0 50px #0af, 0 0 3px #fff; }
    .deck-container .slide h2 {
      color: #af0;
      border-bottom-color: #ccc;
      font-weight: normal;
      font-weight: 100;
      text-shadow: 0 0 15px #af0, 0 0 2px #fff;
      border-bottom: 1px solid #333; }
    .deck-container .slide h3 {
      color: #fff;
      font-weight: normal;
      font-weight: 100;
      text-shadow: 0 0 10px #fff, 0 0 2px #fff; }
    .deck-container .slide pre {
      border-color: #333; }
      .deck-container .slide pre code {
        color: #fff; }
    .deck-container .slide code {
      color: #f0a; }
    .deck-container .slide blockquote {
      font-size: 2em;
      padding: 1em 2em;
      color: #fff;
      border-left: 5px solid #fff; }
      .deck-container .slide blockquote p {
        margin: 0; }
      .deck-container .slide blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: normal;
        font-weight: 100;
        color: #aaa;
        text-shadow: 0 0 15px #fff, 0 0 2px #fff; }
    .deck-container .slide ::-moz-selection {
      background: #a0f; }
    .deck-container .slide ::selection {
      background: #a0f; }
    .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
      color: #f0a;
      text-decoration: none; }
    .deck-container .slide a:hover, .deck-container .slide a:focus {
      text-decoration: underline; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #f0a;
    text-shadow: 0 0 3px #fff; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      text-decoration: none; }
      .boxshadow .deck-container .deck-prev-link:hover, .boxshadow .deck-container .deck-prev-link:focus, .boxshadow .deck-container .deck-next-link:hover, .boxshadow .deck-container .deck-next-link:focus {
        -webkit-box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
        -moz-box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
        box-shadow: 0 0 20px #f0a, 0 0 5px #fff; }
  .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
    opacity: 0.4; }
    .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  .deck-container > .slide .deck-child-current {
    opacity: 1; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container .goto-form {
    background: #000;
    border: 1px solid #f0a; }
    .deck-container .goto-form label {
      color: #fff; }
  .deck-container.deck-menu .slide {
    background: #333; }
  .deck-container.deck-menu .deck-current {
    background: #444; }
    .boxshadow .deck-container.deck-menu .deck-current {
      background: #000;
      -webkit-box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
      -moz-box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
      box-shadow: 0 0 20px #f0a, 0 0 5px #fff; }
  .no-touch .deck-container.deck-menu .slide:hover {
    background: #444; }
  .no-touch.boxshadow .deck-container.deck-menu .slide:hover {
    background: #000;
    -webkit-box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
    -moz-box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
    box-shadow: 0 0 20px #f0a, 0 0 5px #fff; }

.csstransitions.csstransforms .deck-container .slide {
  -webkit-transition: opacity 500ms ease-in-out 0ms;
  -moz-transition: opacity 500ms ease-in-out 0ms;
  -ms-transition: opacity 500ms ease-in-out 0ms;
  -o-transition: opacity 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms; }
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide {
    position: relative;
    left: 0;
    top: 0; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-after {
    opacity: 0; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-current {
    opacity: 1; }
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-after {
  opacity: 0;
  pointer-events: none; }
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before .slide, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous .slide {
  visibility: visible; }
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current .deck-after {
    visibility: hidden; }

html, body {
  height: 100%; }

body {
  background-color: transparent;
  overflow: auto; }

.deck-container {
  font-size: 16px;
  margin: 0;
  background-color: #000; }
  .deck-container section.slide {
    margin-left: 50%; }
    .deck-container section.slide h2 {
      border-bottom: none;
      color: inherit; }
  .deck-container .slide-body {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%; }

.deck-permalink {
  display: none;
  position: absolute;
  z-index: 4;
  bottom: 30px;
  right: 0;
  width: 48px;
  text-align: center; }

.no-history .deck-container:hover .deck-permalink {
  display: block; }

.slide {
  overflow: hidden;
  margin-left: 50%; }
  .slide.deck-current {
    position: relative; }
    .slide.deck-current .seoslides_iframe {
      padding-bottom: 60px;
      background-color: #000; }
    .slide.deck-current .seoslides_iframe_thumb {
      display: none; }
  .slide aside.note {
    background-color: #5d5d5d;
    overflow: hidden;
    color: #fff;
    padding: 30px;
    overflow-y: auto;
    height: 80%; }
    .slide aside.note.hidden {
      display: none; }
  .slide .mejs-container, .slide .mejs-embed, .slide .mejs-embed body {
    background-color: #000; }

.embeded .slide aside.note {
  height: 60%; }

.branding {
  position: absolute;
  z-index: 11;
  display: block;
  width: auto;
  height: 5%;
  bottom: 5px;
  left: 45px;
  /*	background: url(../img/seoslides-logo-trans.png) no-repeat center center; */
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease-in-out 0ms;
  -moz-transition: opacity 0.5s ease-in-out 0ms;
  -ms-transition: opacity 0.5s ease-in-out 0ms;
  -o-transition: opacity 0.5s ease-in-out 0ms;
  transition: opacity 0.5s ease-in-out 0ms;
  /*	@media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  		background-image: url(../img/seoslides-logo-trans-2x.png);
  		background-size: 234px auto;
  	}
  */ }
  .branding:hover {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }

.has-embed .branding {
  bottom: 45px; }

.deck-container .deck-nav-disabled {
  display: none;
  opacity: 0;
  cursor: default; }
  .deck-container .deck-nav-disabled:hover {
    display: none;
    opacity: 0;
    cursor: default; }

.deck-footer {
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  right: 35px;
  bottom: 0;
  width: 30px;
  clear: both;
  z-index: 10;
  height: 70px;
  pointer-events: none;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8; }
  .deck-footer .deck-overview,
  .deck-footer .deck-notes-overlay,
  .deck-footer .deck-embed-overlay,
  .deck-footer .deck-status,
  .deck-footer .deck-fullscreen-overlay,
  .deck-footer .deck-actions {
    pointer-events: auto;
    width: 32px;
    text-align: center;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease-in-out 0ms;
    -moz-transition: opacity 0.5s ease-in-out 0ms;
    -ms-transition: opacity 0.5s ease-in-out 0ms;
    -o-transition: opacity 0.5s ease-in-out 0ms;
    transition: opacity 0.5s ease-in-out 0ms;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    .deck-footer .deck-overview:hover,
    .deck-footer .deck-notes-overlay:hover,
    .deck-footer .deck-embed-overlay:hover,
    .deck-footer .deck-status:hover,
    .deck-footer .deck-fullscreen-overlay:hover,
    .deck-footer .deck-actions:hover {
      -khtml-opacity: 0.8;
      -moz-opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      opacity: 0.8; }
  .deck-footer .deck-overview {
    height: 36px;
    padding-top: 14px; }
  .deck-footer .slide-overview-link {
    margin: auto;
    width: 30px;
    height: 21px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/overview.png); }
    @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .deck-footer .slide-overview-link {
        background-image: url(../img/overview-2x.png);
        background-size: 30px auto; } }
  .deck-footer .deck-notes-overlay {
    height: 35px;
    padding-top: 15px; }
  .deck-footer .slide-notes-icon {
    margin-left: 12px;
    width: 27px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/notes.png); }
    @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .deck-footer .slide-notes-icon {
        background-image: url(../img/notes-2x.png);
        background-size: 27px auto; } }
  .deck-footer .deck-embed-overlay {
    height: 40px;
    padding-top: 10px; }
  .deck-footer #deck-embed-link {
    margin: auto;
    height: 30px;
    width: 30px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/embed.png);
    background-position: 0 -30px; }
    @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .deck-footer #deck-embed-link {
        background-image: url(../img/embed-2x.png);
        background-size: 30px auto; } }
  .deck-footer .deck-fullscreen-overlay {
    height: 34px;
    padding-top: 16px; }
  .deck-footer .toggle-fullscreen {
    margin: auto;
    width: 18px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/expand.png); }
    @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .deck-footer .toggle-fullscreen {
        background-image: url(../img/expand-2x.png);
        background-size: 18px auto; } }
  .deck-footer .deck-status,
  .deck-footer .deck-actions {
    color: #fff;
    height: 30px;
    bottom: 10px;
    right: 0;
    font-size: 0.8em;
    line-height: 30px;
    font-weight: bold; }
  .deck-footer .deck-actions {
    background-color: #333;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    font-family: 'dashicons'; }
    .deck-footer .deck-actions:before {
      content: '\f132'; }
  .deck-footer .hidden {
    display: none; }
  .deck-footer.opened .deck-actions {
    background-color: #8B0000; }
    .deck-footer.opened .deck-actions:before {
      content: '\f158'; }

/* larger button may be needed again when switching to image
@media screen and (min-width: 640px) {
	.deck-footer {
		.deck-actions {
			margin: 5px 0;
			padding-left: 1px !important;
			height: 45px !important;
			font-size: 2.2em !important;
			line-height: 1.3em !important;
			font-weight: normal !important;
			width: 45px !important;
		}
	}
}
*/
.fullscreen .slide {
  padding-bottom: 0; }
.fullscreen .deck-footer {
  display: none; }

body.embeded .deck-footer .deck-overview {
  display: none; }

.mejs-controls,
.mejs-overlay-button {
  z-index: 10; }

.slide:not(.deck-thumb) .mejs-container .mejs-controls {
  bottom: 75px;
  left: 20%;
  width: 60%; }

.mejs-overlay .mejs-overlay-button {
  margin: -50px 0 0 -50px; }

.deck-thumb .mejs-overlay .mejs-overlay-button {
  display: none; }

.button-primary {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 23px;
  height: 24px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #21759b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
  background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
  background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
  background-image: -o-linear-gradient(top, #2a95c5, #21759b);
  background-image: linear-gradient(to bottom, #2a95c5, #21759b);
  border-color: #21759b;
  border-bottom-color: #1e6a8d;
  -webkit-box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.5) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.5) inset;
  box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.5) inset;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .button-primary.hover, .button-primary:hover, .button-primary.focus, .button-primary:focus {
    background-color: #278ab7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
    background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -moz-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -ms-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -o-linear-gradient(top, #2e9fd2, #21759b);
    background-image: linear-gradient(to bottom, #2e9fd2, #21759b);
    border-color: #1b607f;
    -webkit-box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.6) inset;
    -moz-box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.6) inset;
    box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.6) inset;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
  .button-primary.focus, .button-primary:focus {
    border-color: #0e3950;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4); }
  .button-primary.active, .button-primary.active:hover, .button-primary.active:focus, .button-primary:active {
    background: #1b607f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21759b), to(#278ab7));
    background-image: -webkit-linear-gradient(top, #21759b, #278ab7);
    background-image: -moz-linear-gradient(top, #21759b, #278ab7);
    background-image: -ms-linear-gradient(top, #21759b, #278ab7);
    background-image: -o-linear-gradient(top, #21759b, #278ab7);
    background-image: linear-gradient(to bottom, #21759b, #278ab7);
    border-color: #124560 #2382ae #2382ae #2382ae;
    color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.1) inset;
    -moz-box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.1) inset;
    box-shadow: 0 1px 0 0 rgba(120, 200, 230, 0.1) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .button-primary[disabled], .button-primary:disabled, .button-primary.disabled {
    color: #94cde7 !important;
    background: #298cba !important;
    border-color: #1b607f !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
    cursor: default; }

#share .slide-body {
  text-align: center; }
#share .slide-body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }
#share .share_items {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  max-width: 600px;
  margin: auto; }
#share .share_item {
  font-size: 2em;
  display: block;
  color: #ffffff;
  width: 33.3333333333333%;
  float: left;
  margin: 0; }
  #share .share_item a {
    color: #e7ecf0 !important;
    font-weight: normal;
    font-size: 2em;
    text-decoration: none;
    text-align: center; }
  #share .share_item a.seoslides {
    color: #ffac46 !important; }
  #share .share_item img {
    margin: 1em auto .5em;
    width: 50%; }

@media screen and (max-width: 360px) {
  #share .share_item p {
    display: none; }
  #share .share_item img {
    margin-bottom: 1em;
    width: 75%; } }
@media screen and (min-width: 750px) {
  #share .share_item a {
    font-size: 28px; } }
.slide .slide-body .slide-object-content .slide {
  width: auto;
  min-height: 100%;
  position: relative; }
  .slide .slide-body .slide-object-content .slide h1 {
    font-size: 2.4em;
    padding-bottom: 1em; }
  .slide .slide-body .slide-object-content .slide h1, .slide .slide-body .slide-object-content .slide .vcenter {
    font-weight: bold;
    padding-top: 1em;
    max-height: 100%; }
  .slide .slide-body .slide-object-content .slide .vcenter h1 {
    position: relative;
    top: auto;
    padding: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .slide .slide-body .slide-object-content .slide h2 {
    font-size: 2.25em;
    font-weight: bold;
    padding-top: .5em;
    margin: 0 0 .66666em 0;
    border-bottom: 3px solid #888; }
  .slide .slide-body .slide-object-content .slide h3 {
    font-size: 1.4375em;
    font-weight: bold;
    margin-bottom: .30435em; }
  .slide .slide-body .slide-object-content .slide h4 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: .25em; }
  .slide .slide-body .slide-object-content .slide h5 {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: .2222em; }
  .slide .slide-body .slide-object-content .slide h6 {
    font-size: 1em;
    font-weight: bold; }
  .slide .slide-body .slide-object-content .slide img, .slide .slide-body .slide-object-content .slide iframe, .slide .slide-body .slide-object-content .slide video {
    display: block;
    max-width: 100%; }
  .slide .slide-body .slide-object-content .slide video, .slide .slide-body .slide-object-content .slide iframe, .slide .slide-body .slide-object-content .slide img {
    display: block;
    margin: 0 auto; }
  .slide .slide-body .slide-object-content .slide p, .slide .slide-body .slide-object-content .slide blockquote, .slide .slide-body .slide-object-content .slide iframe, .slide .slide-body .slide-object-content .slide img, .slide .slide-body .slide-object-content .slide ul, .slide .slide-body .slide-object-content .slide ol, .slide .slide-body .slide-object-content .slide pre, .slide .slide-body .slide-object-content .slide video {
    margin-bottom: 1em; }
  .slide .slide-body .slide-object-content .slide pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1em;
    border: 1px solid #888; }
  .slide .slide-body .slide-object-content .slide em {
    font-style: italic; }
  .slide .slide-body .slide-object-content .slide li {
    padding: .25em 0;
    vertical-align: middle; }
.slide .slide-body .slide-object-content h1 {
  padding: 0;
  margin: .67em 0; }
.slide .slide-body .slide-object-content p {
  margin: 1em 0; }

article.overview {
  padding: 50px 60px 40px 100px;
  margin: 0;
  min-height: 0px;
  background: url(../img/wash.png) repeat fixed #333333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; }
  @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    article.overview {
      background-image: url(../img/wash-2x.png);
      background-size: 420px 296px; } }
  article.overview header {
    color: #272727;
    text-shadow: 0px 1px 1px #DDD;
    font-family: sans-serif h1;
      font-family-font-size: 36px;
      font-family-line-height: 1.3em;
      font-family-font-weight: 700; }
    article.overview header a {
      color: #000;
      text-decoration: none; }
      article.overview header a:hover {
        color: #000;
        text-decoration: underline; }
    article.overview header p {
      font-size: 1.2em;
      line-height: 1.4em; }
  article.overview .details {
    padding-top: 20px;
    font-family: sans-serif;
    color: #000; }
    article.overview .details.short {
      max-height: 120px;
      overflow: hidden; }
    article.overview .details p {
      line-height: 1.5em;
      margin: 10px 0; }
  article.overview .detail-expander {
    margin-top: 10px;
    margin-bottom: 10px; }
    article.overview .detail-expander .button {
      width: 120px;
      padding-left: 20px;
      padding-right: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 14px;
      line-height: 22px; }
    article.overview .detail-expander .hidden {
      display: none; }
  article.overview .extras .deck-prev-link,
  article.overview .extras .deck-next-link {
    display: none; }
  article.overview .extras .branding {
    position: fixed; }

.deck-container .thumbnails {
  margin-top: 40px; }
  .deck-container .thumbnails a {
    text-decoration: none;
    color: inherit; }
  .deck-container .thumbnails section.deck-thumb {
    width: 400px;
    height: 225px;
    margin-left: 0;
    float: left;
    margin-right: 40px;
    margin-bottom: 60px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out 0ms;
    -moz-transition: all 0.3s ease-in-out 0ms;
    -ms-transition: all 0.3s ease-in-out 0ms;
    -o-transition: all 0.3s ease-in-out 0ms;
    transition: all 0.3s ease-in-out 0ms;
    -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.55) ;
    -moz-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.55) ;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.55) ; }
    .deck-container .thumbnails section.deck-thumb:hover {
      -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.85) ;
      -moz-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.85) ;
      box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.85) ; }
    .deck-container .thumbnails section.deck-thumb aside {
      display: none; }
    .deck-container .thumbnails section.deck-thumb .seoslides_iframe {
      display: none; }
    .deck-container .thumbnails section.deck-thumb .seoslides_iframe_thumb {
      height: 100%;
      display: block; }

footer.overview {
  display: none; }

/** Archive Pages **/
body.post-type-archive-seoslides-slideset {
  height: auto; }

.seoslides-archive aside {
  display: none; }
.seoslides-archive .embed-container {
  display: none; }
.seoslides-archive .featured {
  width: 16em;
  float: left; }
.seoslides-archive .details {
  margin-left: 17em; }
  .seoslides-archive .details .note {
    font-weight: normal; }
  .seoslides-archive .details h2, .seoslides-archive .details p {
    clear: none; }
  .seoslides-archive .details p {
    line-height: 1.5em;
    padding: 1em 0; }
    .seoslides-archive .details p.entry-meta {
      margin-top: 0;
      font-size: 13px;
      font-size: 0.9rem;
      line-height: 1.8;
      padding-top: 0.45rem;
      padding-bottom: 0;
      color: #757575; }
.seoslides-archive ul.meta {
  list-style-type: none;
  margin-top: -24px;
  margin-top: -1.714285714rem;
  float: right; }
  .seoslides-archive ul.meta li {
    display: inline-block;
    margin: 0;
    float: left; }
.seoslides-archive .slide {
  overflow: visible;
  position: relative;
  float: left;
  margin: 0;
  width: 220px;
  height: 123.75px;
  color: #000;
  padding-bottom: 0;
  border: 1px solid #000; }
  .seoslides-archive .slide:after {
    bottom: -100px;
    left: 120px;
    color: #3C3D40;
    text-shadow: 0 2px 1px #8D8E90;
    font-weight: bold;
    font-size: 50px; }
    @media (max-width: 1324px) {
      .seoslides-archive .slide:after {
        bottom: -180px;
        text-shadow: 0 4px 2px #8D8E90;
        font-size: 100px; } }
.seoslides-archive .slide-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
.seoslides-archive:after {
  content: " ";
  font-size: 0;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Hide the slide reel and presenter notes, except on the presenter's screen when it is cloned. */
body:not(.has-clones) .slide-reel,
body:not(.has-clones) .slide-notes {
  display: none; }

.slide-notes {
  background-color: #74dff7;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5) inset;
  float: left;
  min-width: 10em;
  width: 20%; }
  .slide-notes div {
    padding: 0 1em 1em; }

.slide-reel {
  background-color: #219bb5;
  clear: both;
  height: 120px;
  margin-top: -158px;
  position: relative;
  z-index: 10; }

.embed-button, .slide-button {
  display: none; }

.deck-container .embed-input {
  display: block;
  width: 94%;
  padding: 5px;
  line-height: 20px;
  font-size: 14px;
  border: 0;
  margin: 0 2%; }

.deck-container div.embed-container {
  cursor: pointer;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #4b4b4b;
  background-color: rgba(75, 75, 75, 0.975);
  color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out 0ms;
  -moz-transition: opacity 0.3s ease-in-out 0ms;
  -ms-transition: opacity 0.3s ease-in-out 0ms;
  -o-transition: opacity 0.3s ease-in-out 0ms;
  transition: opacity 0.3s ease-in-out 0ms; }
  .deck-container div.embed-container.opened {
    cursor: default;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    z-index: 110; }
  .deck-container div.embed-container .closer,
  .deck-container div.embed-container .pseudolink {
    color: #ffac46;
    cursor: pointer; }
    .deck-container div.embed-container .closer:hover,
    .deck-container div.embed-container .pseudolink:hover {
      text-decoration: underline; }
  .deck-container div.embed-container .closer {
    position: absolute;
    right: 70px;
    top: 10px;
    font-size: 11px; }
  .deck-container div.embed-container aside {
    clear: both;
    margin-left: 30px;
    margin-right: 30px; }
  .deck-container div.embed-container ul.embed-tabs {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #bbb;
    height: 32px; }
    .deck-container div.embed-container ul.embed-tabs li {
      display: inline-block;
      font-size: 16px;
      line-height: 21px;
      height: 21px;
      padding: 5px 10px;
      cursor: pointer;
      color: #bbb;
      float: left; }
      .embeded .deck-container div.embed-container ul.embed-tabs li {
        font-size: 12px; }
      .deck-container div.embed-container ul.embed-tabs li.current {
        color: #ddd;
        border-bottom: 1px solid #4b4b4b;
        border-bottom: 1px solid rgba(75, 75, 75, 0.975);
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
        border-top: 1px solid #bbb; }
  .deck-container div.embed-container .embed-actions {
    position: absolute;
    top: 10px;
    height: 32px;
    right: 60px; }
    .deck-container div.embed-container .embed-actions .action-icon {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      float: left;
      cursor: pointer;
      -khtml-opacity: 0.5;
      -moz-opacity: 0.5;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      opacity: 0.5;
      -webkit-transition: opacity 0.4s ease-in-out 0ms;
      -moz-transition: opacity 0.4s ease-in-out 0ms;
      -ms-transition: opacity 0.4s ease-in-out 0ms;
      -o-transition: opacity 0.4s ease-in-out 0ms;
      transition: opacity 0.4s ease-in-out 0ms; }
      .deck-container div.embed-container .embed-actions .action-icon:hover {
        -khtml-opacity: 1;
        -moz-opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1; }
      .deck-container div.embed-container .embed-actions .action-icon.overview {
        margin-top: 4px;
        height: 26px;
        background-repeat: no-repeat;
        background-image: url(../img/overview.png); }
        @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .deck-container div.embed-container .embed-actions .action-icon.overview {
            background-image: url(../img/overview-2x.png);
            background-size: 30px auto; } }
      .deck-container div.embed-container .embed-actions .action-icon.full-screen {
        display: none;
        margin-top: 6px;
        height: 18px;
        background-repeat: no-repeat;
        background-image: url(../img/expand.png); }
        @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .deck-container div.embed-container .embed-actions .action-icon.full-screen {
            background-image: url(../img/expand-2x.png);
            background-size: 18px auto; } }
        body.embeded .deck-container div.embed-container .embed-actions .action-icon.full-screen {
          display: inline-block; }
  .deck-container div.embed-container .hidden {
    display: none; }

.deck-container.overview div.embed-container ul {
  padding: 20px 20px 5px 20px; }

section.overview section.slide .embed-button, section.overview section.slide .slide-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 36px;
  margin-top: -18px;
  line-height: 32px;
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  background: #000;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out 0ms;
  -moz-transition: opacity 0.3s ease-in-out 0ms;
  -ms-transition: opacity 0.3s ease-in-out 0ms;
  -o-transition: opacity 0.3s ease-in-out 0ms;
  transition: opacity 0.3s ease-in-out 0ms; }
section.overview section.slide:hover .embed-button, section.overview section.slide:hover .slide-button {
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: 0.6; }
  section.overview section.slide:hover .embed-button:hover, section.overview section.slide:hover .slide-button:hover {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
section.overview section.slide:hover .embed-input.opened {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1; }
section.overview section.slide .embed-button {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-image: url(../img/embed.png);
  background-position: 50% -27px; }
  @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    section.overview section.slide .embed-button {
      background-image: url(../img/embed-2x.png);
      background-size: 30px auto; } }
section.overview section.slide .slide-button {
  margin-left: -48px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  background: black url("../img/play.png") no-repeat 50% 50%; }

section#noprint,
#owa-tracker-post-container,
#wpstats {
  display: none; }
