.slide {
	width:auto;
	min-height:100%;
	position:relative;

	h1 {
		font-size:2.4em;
		padding-bottom: 1em;
	}

	h1, .vcenter {
		font-weight:bold;
		padding-top:1em;
		max-height:100%;
	}

	.vcenter h1 {
		position:relative;
		top:auto;
		padding:0;
		-webkit-transform:none;
		-moz-transform:none;
		-ms-transform:none;
		-o-transform:none;
		transform:none;
	}

	h2 {
		font-size:2.25em;
		font-weight:bold;
		padding-top:.5em;
		margin:0 0 .66666em 0;
		border-bottom:3px solid #888;
	}

	h3 {
		font-size:1.4375em;
		font-weight:bold;
		margin-bottom:.30435em;
	}

	h4 {
		font-size:1.25em;
		font-weight:bold;
		margin-bottom:.25em;
	}

	h5 {
		font-size:1.125em;
		font-weight:bold;
		margin-bottom:.2222em;
	}

	h6 {
		font-size:1em;
		font-weight:bold;
	}

	img, iframe, video {
		display:block;
		max-width:100%;
	}

	video, iframe, img {
		display:block;
		margin:0 auto;
	}

	p, blockquote, iframe, img, ul, ol, pre, video {
		margin-bottom:1em;
	}

	pre {
		white-space:pre;
		white-space:pre-wrap;
		word-wrap:break-word;
		padding: 1em;
		border:1px solid #888;
	}

	em {
		font-style:italic;
	}

	li {
		padding:.25em 0;
		vertical-align:middle;
	}
}