@import '_mixins.scss';

// Slide Layout
$width: 1024px;
// Slide width, permanent in most cases
$height: $width * $y_ratio / $x_ratio;
// Slide height, 640px for 16/10, 768px for 4/3
$top: 71px;
// Top padding above slide content
$sides: 120px;
// Left and right paddings around slide content
$break: 1324px;
// Window width for small thumbnails to appear
$grid: '';

html, body {
	height: 100%;
	overflow: hidden;
}

html {
	margin-top: 0;
}

body {
	background-color: transparent;
	margin-top: -1px;
	padding-top: 1px;
}

.deck-container {
	font-size: 16px;
	margin: 0;
	background-color: #000;
	overflow: hidden;

	section.slide {
		margin-left: 50%;

		h2 {
			border-bottom: none;
			color: inherit;
		}
	}

	.slide-body {
		position: absolute;
		z-index: 5;
		height: 100%;
		width: 100%;
	}
}

.deck-permalink {
	display: none;
	position: absolute;
	z-index: 4;
	bottom: 30px;
	right: 0;
	width: 48px;
	text-align: center;
}

.no-history .deck-container:hover .deck-permalink {
	display: block;
}

.slide {
	overflow: hidden;
	margin-left: 50%;

	&.deck-current {
		position: relative;

		.seoslides_iframe {
			padding-bottom: 60px;
			background-color: #000;
		}

		.seoslides_iframe_thumb {
			display: none;
		}

		p.video-no-mobile {
			display: block;
			background: #fff;
			color: #000;
			text-align: center;
			width: 100%;
			position: absolute;
			top: 50%;
		}
	}

	aside.note {
		overflow: hidden;
		color: #fff;
		padding: 30px;
		overflow-y: auto;
		height: 80%;

		&.hidden {
			display: none;
		}
	}

	.mejs-container, .mejs-embed, .mejs-embed body {
		background-color: #000;
	}
}

.embeded .slide aside.note {
	height: 60%;
}

.deck-container .deck-nav-disabled {
	display: none;
	opacity: 0;
	cursor: default;
	&:hover {
		display: none;
		opacity: 0;
		cursor: default;
	}
}

footer.deck-footer {
	position: absolute;
	height: 32px;
	width: 100%;
	background: rgba(0, 0, 0, .75);
	z-index: 10;
	bottom: 0;
	overflow: hidden;

	.ssi {
		font-size: 20px;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 6px;
		cursor: pointer;
		color: #f15b3c;
		height: 100%;
		display: inline-block;

		&:first-child {
			margin-left: 0.25em;
		}

		&.embiggen,
		&.dismiss {
			display: none;
		}

		&:hover {
			background-color: #000;
		}
	}

	.ssi-right {
		float: right;
		height: 100%;
		margin-right: 0.25em;
	}

	&.opened .dismiss {
		display: inline-block;
	}
}

//.deck-footer,
.extras {
	font-family: 'Noto Sans', sans-serif;
//	position: absolute;
//	right: 35px;
//	bottom: 0;
//	width: 30px;
//	clear: both;
//	z-index: 10;
//	height: 70px;
//	pointer-events: none;
//	@include opacity(0.8);

	.deck-overview,
	.deck-notes-overlay,
	.deck-embed-overlay,
	.deck-status,
	.deck-fullscreen-overlay,
	.deck-actions {
		pointer-events: auto;
		width: 32px;
		text-align: center;
		background-color: #000;
		-webkit-font-smoothing: antialiased;
		display: none;

		@include border-radius( 10px );
	}

	.deck-overview {
		height: 36px;
		padding-top: 14px;
	}

	.deck-status,
	.deck-actions {
		color: #fff;
		height: 30px;
		bottom: 10px;
		right: 0;
		font-size: 0.8em;
		line-height: 30px;
		font-weight: bold;
	}

	.deck-actions {
		background-color: #888;
		bottom: 0;
		right: 8px;
		z-index: 3;
		position: absolute;
		cursor: pointer;
		font-family: 'dashicons';

		&:hover {
			background-color: #f15b3c;
		}

		&:before {
			content: '\f132';
		}
	}

	.hidden {
		display: none;
	}
}

.deck-container:hover .extras {
	.deck-actions {
		display: block;
	}
}

.fullscreen {
	.slide {
		padding-bottom: 0;
	}

	.deck-footer {
		display: none;
	}
}

body.embeded {
	.deck-footer .deck-overview {
		display: none;
	}

	.ssi.embiggen {
		display: inline-block;
	}
}

.mejs-controls,
.mejs-overlay-button {
	z-index: 10;
}

.slide:not(.deck-thumb) .mejs-container .mejs-controls {
	bottom: 75px;
	left: 20%;
	width: 60%;
}

.mejs-overlay .mejs-overlay-button {
	margin: -50px 0 0 -50px;
}

.deck-thumb .mejs-overlay .mejs-overlay-button {
	display: none;
}

.button-primary {
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	line-height: 23px;
	height: 24px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	@include border-radius(3px);
	-webkit-appearance: none;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;

	background-color: #21759b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
	background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
	background-image:    -moz-linear-gradient(top, #2a95c5, #21759b);
	background-image:     -ms-linear-gradient(top, #2a95c5, #21759b);
	background-image:      -o-linear-gradient(top, #2a95c5, #21759b);
	background-image:   linear-gradient(to bottom, #2a95c5, #21759b);
	border-color: #21759b;
	border-bottom-color: #1e6a8d;
	@include box-shadow(0, 1px, 0, 0, rgba(120, 200, 230, 0.5), 'inset');
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);

	&.hover,
	&:hover,
	&.focus,
	&:focus {
		background-color: #278ab7;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
		background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
		background-image:    -moz-linear-gradient(top, #2e9fd2, #21759b);
		background-image:     -ms-linear-gradient(top, #2e9fd2, #21759b);
		background-image:      -o-linear-gradient(top, #2e9fd2, #21759b);
		background-image:   linear-gradient(to bottom, #2e9fd2, #21759b);
		border-color: #1b607f;
		@include box-shadow(0, 1px, 0, 0, rgba(120, 200, 230, 0.6), 'inset');
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	}

	&.focus,
	&:focus {
		border-color: #0e3950;
		-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
		box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
	}

	&.active,
	&.active:hover,
	&.active:focus,
	&:active {
		background: #1b607f;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#21759b), to(#278ab7));
		background-image: -webkit-linear-gradient(top, #21759b, #278ab7);
		background-image:    -moz-linear-gradient(top, #21759b, #278ab7);
		background-image:     -ms-linear-gradient(top, #21759b, #278ab7);
		background-image:      -o-linear-gradient(top, #21759b, #278ab7);
		background-image:   linear-gradient(to bottom, #21759b, #278ab7);
		border-color: #124560 #2382ae #2382ae #2382ae;
		color: rgba(255,255,255,0.95);
		@include box-shadow(0, 1px, 0, 0, rgba(120, 200, 230, 0.1), 'inset');
		text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	}

	&[disabled],
	&:disabled,
	&.disabled {
		color: #94cde7 !important;
		background: #298cba !important;
		border-color: #1b607f !important;
		-webkit-box-shadow: none !important;
		box-shadow:         none !important;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
		cursor: default;
	}
}

/*********************************************************************/
/*                         Deck JS Overrides                         */
/*********************************************************************/
.csstransitions.csstransforms {
	.deck-container:not(.deck-menu) {
		> .slide {
			padding: 0;
		}
	}
}

.slide {
	width: auto;
	min-height: 100%;
	position: relative;

	h1 {
		font-size: 2.4em;
		padding-bottom: 1em;
	}

	h1,
	.vcenter {
		font-weight: bold;
		padding-top: 1em;
		max-height: 100%;
	}

	.vcenter h1 {
		position: relative;
		top: auto;
		padding: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	h2 {
		font-size: 2.25em;
		font-weight: bold;
		padding-top: .5em;
		margin: 0 0 .66666em 0;
		border-bottom: 3px solid #888;
	}

	h3 {
		font-size: 1.4375em;
		font-weight: bold;
		margin-bottom: .30435em;
	}

	h4 {
		font-size: 1.25em;
		font-weight: bold;
		margin-bottom: .25em;
	}

	h5 {
		font-size: 1.125em;
		font-weight: bold;
		margin-bottom: .2222em;
	}

	h6 {
		font-size: 1em;
		font-weight: bold;
	}

	img,
	iframe,
	video {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	p,
	blockquote,
	iframe,
	img,
	ul,
	ol,
	pre,
	video {
		margin-bottom: 1em;
	}

	pre {
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
		padding: 1em;
		border: 1px solid #888;
	}

	em {
		font-style: italic;
	}

	li {
		padding: .25em 0;
		vertical-align: middle;
	}
}

.deck-container {
	&:hover {
		.deck-prev-link, .deck-next-link {
			display: none;
		}
	}

	&.shownav {
		.deck-prev-link, .deck-next-link {
			display: inline;
		}
	}
}

.deck-prev-link, .deck-next-link {
	background: rgba(0, 0, 0, .75);
	color: #f15b3c;

	&:focus, &:hover {
		background-color: #000;
		color: #f15b3c;
	}
}

// Last slide styling
#share {
	.slide-body {
		text-align: center;
	}
	.slide-body:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
	.share_items {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		max-width: 600px;
		margin: auto;
	}
	.share_item {
		font-size: 2em;
		display: block;
		color: #ffffff;
		width: 33.3333333333333%;
		float: left;
		margin: 0;
		a {
			color: #e7ecf0 !important;
			font-weight: normal;
			font-size: 2em;
			text-decoration: none;
			text-align: center;
		}
		a.seoslides {
			color: #ffac46 !important;
		}
		img {
			margin: 1em auto .5em;
			width: 50%;
		}
	}
}

@media screen and (max-width: 360px) {
	#share .share_item {
		p {
			display: none;
		}
		img {
			margin-bottom: 1em;
			width: 75%;
		}
	}
}
@media screen and (min-width: 750px) {
	#share .share_item {
		a {
			font-size: 28px;
		}
	}
}

@import '_slide.scss';
@import '_front-end.archive.scss';
@import '_front-end.presenter-view.scss';
@import '_front-end.embed-code.scss';

section#noprint,
#owa-tracker-post-container,
#wpstats {
	display: none;
}